<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.githubyss.mobile.integration.app"
          tools:ignore="GradleOverrides"
        >

    <uses-permission
            android:name="android.permission.INTERNET"
            />

    <application
            android:name="com.githubyss.mobile.integration.app.IntegrApp"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/integrAppName"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/comresAppTheme"
            >

        <activity
                android:name=".entrance.IntegrEntranceActivity"
                android:label="@string/integrAppName"
                android:screenOrientation="portrait"
                android:theme="@style/comresTranslucentFullscreenTheme"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".homepage.IntegrHomepageActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/comresAppTheme"
                />
    </application>
</manifest>
